.MuiInputBase-root{
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 4px -2px rgba(11, 37, 75, .12), 0 0 0 1px rgba(11, 37, 75, .08);
  color: #0a193e;
  font-family: Inter-Medium;
  font-size: 16px;
  height: 20px;
  padding: 10px 12px;
  position: relative;
}