@use"./../../../assets/styles/default.scss" as *;

.main-wrapper-container {
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  .vector-diagonal-div{
    background-color: #041f61;
      clip-path: polygon(0 0, 100% 0, 100% 63%, 0 100%);
      grid-column-start: 1;
      grid-row-start: 1;
      height: 800px;
     
  }
  .vector-diagonal-sub-div{
    background-color: #9babfd;
  clip-path: polygon(0 85%, 100% 0, 100% 8%, 0 100%);
  grid-column-start: 1;
  grid-row-start: 1;
  height: 350px;
  margin-top: 503px;
  opacity: .4;
  }
  .overlay-container{
    grid-column-start: 1;
    grid-row-start: 1;
    width: 100%;
    z-index: 99;
  }
  
 
 .signup-register{
  margin: 40px auto;
  display: flex;
  justify-content: center;
  max-width: 100%;
  .auth{
    max-width: 100%;
    width: 450px;
    padding: 30px;
    background-color: #fff;
    font-family: $fontRegular !important;
    
   .register-headline-element{
    .text-wrapper{
      color: #0a193e;
      font-weight: 400;
    }
   }
   .continue-button{
    width: 100%;
    height: 54px;
    border: 1px solid transparent;
    box-shadow: 0 4px 4px -2px rgba(11, 37, 75, .12), 0 0 0 1px rgba(11, 37, 75, .08);
    font-family: Inter-SemiBold;
    font-size: 16px;
    padding: 8px 10px;
    text-transform: none;

    color: #0a193e;
    font-weight: 400;
    line-height: 1;

  }
  .MuiInputBase-root{
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 4px -2px rgba(11, 37, 75, .12), 0 0 0 1px rgba(11, 37, 75, .08);
    color: #0a193e;
    font-family: Inter-Medium;
    font-size: 16px;
    height: 20px;
    position: relative;
    max-width: 450px;
    
    &.input{
      padding: 10px 12px ;
      width: 100%;
      height: 100%;
    }
  }
 
  }
  
 
  
}

  

}